<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Examples</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
		<li class="nav-item px-3">
			<AnchorLink class="nav-link" href="#Some">Some</AnchorLink>
			<AnchorLink class="nav-link" href="#None">None</AnchorLink>
			<AnchorLink class="nav-link" href="#OptionMatch">OptionMatch</AnchorLink>
			<AnchorLink class="nav-link" href="#OptionMatchAsync">OptionMatchAsync</AnchorLink>
			<AnchorLink class="nav-link" href="#OptionFactory">OptionFactory</AnchorLink>
			<AnchorLink class="nav-link" href="#OptionFactoryAsync">OptionFactoryAsync</AnchorLink>
			<AnchorLink class="nav-link" href="#Success">Success</AnchorLink>
			<AnchorLink class="nav-link" href="#Failure">Failure</AnchorLink>
			<AnchorLink class="nav-link" href="#ResultMatch">ResultMatch</AnchorLink>
			<AnchorLink class="nav-link" href="#ResultMatchAsync">ResultMatchAsync</AnchorLink>
			<AnchorLink class="nav-link" href="#ResultFactory">ResultFactory</AnchorLink>
			<AnchorLink class="nav-link" href="#ResultFactoryAsync">ResultFactoryAsync</AnchorLink>
		</li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
